<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> 
    <h1 style="text-align: center;">Welcome to Computer Store</p>
		<% if(typeof userLogged == "undefined") { %>
			<p>The user hasn't logged yet</p>	
		<% } else { %>
			<p><%= userLogged%> !</p>
			<a href="/logout">LogOut</a>
		<% } %> 
		
  </body>
</html>
