<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Document</title>
</head>
<body>
	<header>
		<nav style="display: flex; justify-content: space-evenly;">
			<a style="color: black;" href="/">Home</a>
			<a href="/users">List of Users</a>
			<a href="/users/register">Register</a>
			<a href="/users/login">Login</a>
			<a style="color: chocolate;" href="/products">List of Products</a>
			<a style="color: chocolate;" href="/products/createProduct">Add Product</a>
		</nav>
		<hr>
	</header>
	
</body>
</html>