<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>List of Users</title>
</head>
<body>
	<%- include('../partials/nav.ejs') %>
	<h1 style="text-align: center;">List of Users</h1>
	<ul style="text-align: center;">
		<% users.forEach(user => { %>
			<li style="list-style-type: none;">
				<%= user.username %> 
				<a style="color: red;" href="/users/editUser/<%= user.id %>">Editar</a> 
				<a style="color: blue;" href="">Borrar</a></li>
		<% }) %> 
	</ul>
	
</body>
</html>