<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>
<body>
	<%- include('../partials/nav.ejs') %> 

	<h1 style="text-align: center;">Login</h1>

	<% if(typeof userNotFound != "undefined") { %>
		<p style="color: crimson; text-align: center;"><%= userNotFound %> </p>
	<% } %>

	<form style="text-align: center;" action="/users/login" method="POST">
		<input type="text" name="username" placeholder="Escribe tu usuario">
		<input type="text" name="password" placeholder="Escribe tu contraseña">
		<button type="submit">Login</button>
	</form>
	
</body>
</html>